.title {
  border: 2px solid orange;
}

.nav {
  border: 2px solid blue;
}

.article-list {
  border: 2px solid red;
}

.article--body__hover:hover {
  background-color: yellow;
  color: blue;
}

.voting-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20px;
  max-width: 50%;
  justify-content: space-between;
}
